<h1>LoginPage</h1>
<div style='flex-direction:column; display: flex;'>
  <a style="margin-bottom: 10px;" href="/login/admin">Admin</a>
  <a  href="/login/customer">Customer</a>
</div>

<%- include('footer.ejs') %>
